{% extends 'base.html.twig' %}
{% set page = { 'id' : 'page-top', 'class' : ['index'] } %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        #maincontent {
            padding:0;
            width:100%;
        }
        #map {
            height:800px;
            margin-top:100px;
        }
        header {
            background:none;
        }
        .infosPratiques img {
            width:290px;
        }
    </style>
{% endblock %}

{% block title %}
    Me travelling
{% endblock %}

{% block body %}
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div id="map">
                        <section class="col-lg-12 col-md-12 col-sm-11 map" style="width: 100%; height: 100%; padding:0;">
                            <div id="googleMap" style="width: 100%; height: 100%;"
                                 data-icon="{{ asset('bundles/app/img/puceGMap.png') }}"
                                 data-iconclusterer="{{ asset('bundles/app/img/puceGMapGroup.png') }}"
                                 data-mapTypeControl="false"
                                 data-forceDefaultPosition="true"
                                 data-streetviewcontrol="false"
                                 data-latitude="47"
                                 data-zoomControl="true"
                                 data-scrollwheel="true"
                                 data-showMarkers="true"
                                 data-departmentColor="#0f4058"
                                 data-zoom="10"
                                 data-fitBounds="true"
                            ></div>
                        </section>
                    </div>

                    <div class="row microformats">
                        <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8" id="microformats">
                            <div class="hide">
                                {% if positions|default %}
                                    {% for position in positions %}
                                        <div class="vcard" hidden>
                                            <div class="latitude">{{ position.latitude }}</div>
                                            <div class="longitude">{{ position.longitude }}</div>
                                            <div class="rank">{{ position.id }}</div>
                                        </div>

                                        <div class="infoWindow" hidden>
                                            <div class="infosPratiques">
                                                <img class="img-responsive" src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/cabin.png') }}">

                                                <p class="name">{{ position.title }}</p>
                                                <p class="adress">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{ position.description }}
                                                </p>
                                                <a class="btn btn-primary btnDetails" href="{{ path('position_show', {'id': position.id}) }}">Voir les détails</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="vcard" hidden>
                                        <div class="latitude">47.215061</div>
                                        <div class="longitude">-1.550546</div>
                                        <div class="rank">1</div>
                                    </div>

                                    <div class="infoWindow" hidden>
                                        <div class="infosPratiques">
                                            <img class="img-responsive" src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/cabin.png') }}">

                                            <p class="name">Name</p>
                                            <p class="adress">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                12, rue du bois dormant 11100 Ici
                                            </p>
                                            <a class="btn btn-primary btnDetails" href="#">Voir les détails</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Posts</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/cabin.png') }}" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/cake.png') }}" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/circus.png') }}" class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/game.png') }}" class="img-responsive" alt="Game controller">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/safe.png') }}" class="img-responsive" alt="Safe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/lib/startbootstrap-freelancer-gh-pages/img/portfolio/submarine.png') }}" class="img-responsive" alt="Submarine">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="{{ path('position_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> ADD POSITION</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">var GOOGLE_API_KEY = "{{ project.google_api_key|default('XXXXXXXXXXXXXXX') }}";</script>
    <script src="{{ asset('bundles/app/js/markerclusterer.js') }}"></script>
    <script src="{{ asset('bundles/app/js/google.maps.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}